@import './utils/variables';

@import './utils/mixins';

@import './utils/common';

@import './components/header';
@import './components/index/hero';
@import './components/index/advantages';
@import './components/index/specialism';
@import './components/index/cooperators';
@import './components/index/clients';
@import './components/index/backdrop';
@import './components/index/modal';

@import './components/portfolio/menu';
@import './components/portfolio/works';

@import './components/footer';