.footer {
    height: 603px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bgc-hero-footer-color);

@media screen and (min-width: 768px) {
    height: 463px;
}
        
@media screen and (min-width: 1200px) {
    height: 252px;
}

&__container {
    text-align: center;

@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

@media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: start;
}
}

&__logo {
    margin-bottom: 60px;

@media screen and (min-width: 768px) {
    margin-bottom: 0;
}
}

&__address-list {
    display: block;
    @include font(400, 14, 1.71, 0.03);
    font-style: normal;
    text-decoration: none;
    color: var(--main-white-color);
}
}

.footer__link{
    display: block;
    margin-bottom: 20px;
    margin-bottom: 20px;
    font-family: Raleway, sans-serif;
    @include font(700, 24, 1.17, 0.03);
    text-decoration: none;
    color: var(--main-white-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    color: var(--accent-logo-color);
}
}

.footer__address-item:not(:last-child) {
    margin-bottom: 8px;
}

.footer__address-item--grey,
.footer__address-item--grey {
    color: var(--address-footer-color);
    text-decoration: none;
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    color: var(--accent-color);
}
}

.footer__networks {
    height: 80px;
    margin-bottom: 60px;

@media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
    margin-left: 70px;
}

&-title {
    margin-bottom: 20px;
    @include font(700, 14, 1.14, 0.03);
    text-transform: uppercase;
    color: var(--main-white-color);
}

&-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}
}

.footer__networks-login {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 44px;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-networks-bgc);
    fill: var(--main-white-color);
    transition: background-color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    background-color: var(--accent-color);
}
}
    
.footer__subscribe {
    @media screen and (min-width: 768px) {
    margin-top: 60px;
}
@media screen and (min-width: 1200px) {
    margin-left: auto;
    margin-top: 0;
}

&-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    text-align: center;
}

&-form {
    width: 100%;
    // height: 50px;

@media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: center;
}
}

&-label {
    margin-bottom: 20px;
    @include font(700, 14, 1.14, 0.03);
    text-transform: uppercase;
    color: var(--main-white-color);
}
}

.footer__subscribe-input {
    display: inline-block;
    width: 100%;
    max-width: 358px;
    padding: 14px 16px 14px 16px;
    margin-bottom: 20px;
    @include font(400, 16, 1.25, 0.03);
    align-items: center;
    outline: none;
    border-color: var(--footer-input-border-color);
    filter: var(--footer-input-border-shadow);
    border-radius: 4px;
    transition: button-color var(--primary-transition-time) var(--primary-cubic-bezier);
    color: var(--footer-input-color);
    background-color: transparent;

@media screen and (min-width: 480px) {
    width: 358px;
}

@media screen and (min-width: 768px) {
    display: block;
}

@media screen and (min-width: 1200px) {
    margin-bottom: 0;
}

&:focus {
    border-color: var(--accent-color);
}
}

.footer__subscribe-button {
    display: inline-flex;
    padding: 9px 28px 9px 29px;
    @include font(700, 16, 1.88, 0.06);
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--main-white-color);
    background-color: var(--accent-color);
    transition: background-color var(--primary-transition-time) var(--primary-cubic-bezier),
        box-shadow var(--primary-transition-time) var(--primary-cubic-bezier);

@media screen and (min-width: 1200px) {
    margin-left: 12px;
}

&:hover,
&:focus {
    background-color: var(--btn-hero-color);
    box-shadow: var(--footer-button-hover-shadow);
}
}

