.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-header-color);

&__container {
        display: flex;
        position: relative;
        align-items: center;
    }

&__navigation {
        display: flex;
        align-items: center;
    }
}

/* Logotip header */
.header__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--logo-black-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;

    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

    &:hover,
    &:focus{
        color: var(--accent-logo-color);
    }
}

.logo__forepart {
    color: var(--accent-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

    .header__logo:hover &,
    .header__logo:focus &,
    .footer__link:hover &,
    .footer__link:focus &{
        color: var(--accent-logo-color);
    }
}


/* Site nav */
.header__menu {
    display: flex;
    gap: 50px;

&-link {
        display: block;

        position: relative;

        padding-top: 32px;
        padding-bottom: 32px;

        color: var(--title-text-color);

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color var(--primary-transition-time) var(--primary-cubic-bezier);
    }

    &-link:hover,
    &-link:focus {
        color: var(--accent-color);
    }

    &-link--current {
        color: var(--accent-color);
    }

    &-link--current::after {
        content: '';

        position: absolute;

        display: block;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        border-radius: 2px;

        background-color: var(--accent-color);
    }
}

/* Contacts */

.header__contacts {
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.header__contacts-link {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;

    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    color: var(--accent-color);
    }
}

.header__contacts-icon {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    fill: currentColor;

    transition: fill var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    fill: currentColor;
    }
}

.header__mobile-menu {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

}

.header__icon-cross {
    display: none;
}

.header__mobile-menu.is-open .header__icon-cross {
    display: block;
}

.header__mobile-menu.is-open .header__icon-menu {
    display: none;
}

.header__mobile{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: red;
    background-color: aqua;
    height: 200px;

}

.header__mobile.is-open{
    display: none;
}