.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border-header-color);

&__container {
    position: relative;
    display: flex;
    align-items: center;
}

&__navigation {
    display: flex;
    align-items: center;
}

&__contacts-mobile{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
}

/* Logotip header */
.header__logo {
    margin-right: 87px;
    padding: 16px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);
    color: var(--logo-black-color);

@media screen and (min-width: 768px) {
    padding: 26px 0;
}

@media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding: 24px 0 25px 0;
    font-size: 26px;
    line-height: 1.19;
}

&:hover,
&:focus{
    color: var(--accent-logo-color);
}
}

.logo__forepart {
    color: var(--accent-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

.header__logo:hover &,
.header__logo:focus &,
.footer__link:hover &,
.footer__link:focus &{
    color: var(--accent-logo-color);
}
}

/* Site nav */
.header__menu {
@media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
}

&-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);
    
@media screen and (min-width: 768px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
}
}

&-link:hover,
&-link:focus {
    color: var(--accent-color);
}

&-link--current {
    color: var(--accent-color);
}

&-link--current::after {
    content: '';
    position: absolute;
    display: none;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
    border-radius: 2px;
    background-color: var(--accent-color);

@media screen and (min-width: 768px) {
    display: block;
}

@media screen and (min-width: 1200px) {
    bottom: -1px;
}
}

&-item:not(:last-child) {
    margin-bottom: 32px;

@media screen and (min-width: 768px) {
    margin-bottom: 0;
}
}
}

/* Contacts */

.header__contacts {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    
@media screen and (min-width: 768px) {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 81px;
}

@media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 315px;
}

&-item--mail{
    margin-bottom: 10px;

@media screen and (min-width: 1200px) {
    margin-bottom: 0px;
}
}
}

.header__contacts-mail,
.header__contacts-tel {
    display: flex;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    align-items: center;
    color: var(--primary-text-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    color: var(--accent-color);
}
}

.header__contacts-tel{
    font-size: 34px;
    line-height: 1.18;
    padding-bottom: 32px;
    color: var(--accent-color);

@media screen and (min-width: 768px) {
    margin-top: 0;
    padding-bottom: 21px;
    font-size: 12px;
    line-height: 1.17;
    color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
}
}

.header__contacts-mail{
    font-size: 24px;
    line-height: 1.17;

@media screen and (min-width: 768px) {
    padding-top: 21px;
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    padding: 32px 0;
    font-size: 14px;
    line-height: 1.14;
}
}

.header__contacts-icon {
    display: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--primary-transition-time) var(--primary-cubic-bezier);

@media screen and (min-width: 768px) {
    display: block;
}
&:hover,
&:focus {
    fill: currentColor;
}
}

// Header-mobile-menu

.header__mobile-button {
    display: inline-flex;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;
    fill: var(--title-text-color);
    transition: fill var(--primary-transition-time) var(--primary-cubic-bezier);

@media screen and (min-width: 768px) {
    display: none;
}
}

.header__mobile-button:hover,
.header__mobile-button:focus{
    fill: var(--accent-color);
}

.header__icon-cross {
    display: none;
}

.header__mobile-button.is-open .header__icon-cross {
    display: block;
}

.header__mobile-button.is-open .header__icon-menu {
    display: none;
}

.header__mobile-menu{
    display: flex;

@media screen and (max-width: 767.98px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 83px 48px 40px;
    overflow-y: scroll;
    flex-direction: column;
    background-color: var(--main-white-color);
    z-index: 1;
    transform: translateX(-100%);
    transition: transform var(--primary-transition-time) var(--primary-cubic-bezier);
    

&.is-open {
    transform: translateX(0);
}
}
}

.header__socials {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

@media screen and (min-width: 768px) {
    display: none;
}

&-link {
    display: inline;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
}

&-item:not(:last-child):after {
    content: "";
    border-left: 1px solid var(--modal-border-color);
    margin-left: 10px;
    color: var(--modal-border-color);

@media screen and (min-width: 768px) {
    display: none;
}
}
}