.portfolio {
&__works-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
    
@media screen and (min-width: 768px) {
    margin-top: 30px;
    justify-content: left;
}
    
@media screen and (min-width: 1200px) {
    margin-top: 50px;
}
}

&__works-item {
@media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
}
        
@media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
}
}

&__link-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-decoration: none;
    transition: box-shadow var(--primary-transition-time) var(--primary-cubic-bezier);
}

&__card-overlate {
    position: relative;
    overflow: hidden;
}

&__link-card:hover,
&__link-card:focus {
    box-shadow: var(--portfolio-card-hover-shadow);
}

&__card-description {
    display: block;
    padding: 20px 24px;
    flex-grow: 1;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: var(--border-works-color);

@media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 20px 24px 56px 24px;
}
}

&__card-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

&__card-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
}

.portfolio__card-text {
    position: absolute;
    display: block;
    padding: 77px 24px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(101%);
    transition: transform var(--primary-transition-time) var(--primary-cubic-bezier);
    color: var(--main-white-color);
    background-color: var(--portfolio-card-bgc);

@media screen and (min-width: 768px) {
    padding: 49px 24px 77px 24px;
}
        
@media screen and (min-width: 1200px) {
    padding: 49px 24px;
}

.portfolio__link-card:hover &,
.portfolio__link-card:focus & {
    transform: translateY(0);
}
}
