.advantages {
&__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__icon {
        display: flex;
        background-color: var(--advantages-icon-color);
        height: 120px;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    &__img {
        align-self: center;
    }

    &__title {
        // display: inline-block;
        color: var(--title-text-color);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        margin-bottom: 10px;
        text-align: center;
    }

        &__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
}
