.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bgc);
    transition: opacity var(--primary-transition-time) var(--primary-cubic-bezier);

&.is-hidden {
    opacity: 0;
    pointer-events: none;
}
}

