.hero {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bgc-hero-footer-color);
    background-image: var(--hero-background-gradient), url('../images/hero-bg-mobile1x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 118px 0;
@include retina {
    background-image: var(--hero-background-gradient), url('../images/hero-bg-mobile2x.jpg');
}

@media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: var(--hero-background-gradient), url('../images/hero-bg-tablet1x.jpg');
@include retina {
    background-image: var(--hero-background-gradient), url('../images/hero-bg-tablet2x.jpg');
}
}

@media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: var(--hero-background-gradient), url('../images/hero-bg-desktop1x.jpg');
@include retina {
    background-image: var(--hero-background-gradient), url('../images/hero-bg-desktop2x.jpg');
}
}

&__container {
    max-width: 360px;

@media screen and (min-width: 1200px) {
    max-width: 696px;
}
}

&__title {
    margin-bottom: 30px;
    @include font(900, 26, 1.62, 0.06);
    text-transform: uppercase;
    color: var(--main-white-color);

            
@media screen and (min-width: 1200px) {
    @include font(null, 44, 1.36, null);
}
}

.hero__button {
    padding: 10px 32px;
    @include font(700, 16, 1.88, 0.06);
    align-items: center;
    color: var(--main-white-color);
    background-color: var(--accent-color);
    transition: color var(--primary-transition-time) var(--primary-cubic-bezier),
    color var(--primary-transition-time) var(--primary-cubic-bezier);

&:hover,
&:focus {
    color: var(--main-white-color);
    background-color: var(--btn-hero-color);
}
}
}